[Desktop Entry]
Name=SM64 launcher
Comment=Launcher for Super Mario 64 using SM64LinuxLauncher 
Exec=bash -c "cd /home/pi/Downloads/sm64ll-pi/src && python3 /home/pi/Downloads/sm64ll-pi/src/launcher.py"    
Icon=/home/pi/Downloads/sm64ll-pi/sm64.png
Type=Application
Categories=Game;
